
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* background Color  */
  --primary-color: #E07799;
  --secondary-color: #5F4F7A;
  --darkblue : #091020;
  --bg-dark-blue: #0e1830;
  --bg-purple:#990299;
  --bg-white: #fff;
  --gray-color:rgb(216, 216, 216);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primary-color)', endColorstr='var(--secondary-color)', GradientType=1 );
  /* Text Color  */
  --primary-font: "poppins", sans-serif;
  --primary-text: #fd4766;
  --text-gray: #c1bebf;
  --text-white: #fff;
}

body{
    font-family:var(--primary-font);
    background-color:var(--secondary-color); 
}
a{
    text-decoration: none;
}

/* custom Css */
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: var(--bg-dark-blue);
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
section{
    padding: 50px 0;
}
.main_btn{
    display: inline-block;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid var(--bg-dark-blue);
    color: var(--bg-dark-blue);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main_btn{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}
.main_btn:hover{
    color: var(--text-white);
}
h1{
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--bg-purple);
    margin-bottom: 20px;
}
h6 span{
    color: var(--bg-dark-blue);
}
h2{
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 15px;
}
h3{
    font-size: 19px;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 19px;
}
h6{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    color: var(--text-gray);
    margin-bottom: 20px;
}
p{
    color: var(--text-gray);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}
.subtitle{
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background-image: var(--gradient-color);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button{
    outline: none!important;
    box-shadow: none!important;
}

/* Navbar  */
.header_wrapper .navbar{
padding: 10x 0;
-webkit-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
}
.header_wrapper .navbar-brand{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--bg-purple);
    font-weight: 500;
}
.header_wrapper .navbar-toggler{
    border: 0;
    color: var(--gray-color);
}
.header_wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.header_wrapper .nav-item{
    margin: 0 10px;
}
.header_wrapper .nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-gray);
    display: inline-block;
}
.header_wrapper .nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--bg-purple);
    bottom: 0px;
    transition: 0.3s;
}
.header_wrapper .nav-item .nav-link.active::after{
    width: 100%;
}
.header_wrapper .nav-item .nav-link:hover::after{
    width: 100%;
}
.header_wrapper .nav-item .nav-link.active {
    color: var(--bg-purple);
}
.header_wrapper .nav-item .nav-link:hover {
    color: var(--primary-color);
}
.header_scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-dark-blue);
    box-shadow: 0 4px 6px 0 rgba(12,0,46,0.5);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,0.5);
}
.header_scrolled .nav-item .nav-link.active 
.header_scrolled .nav-item .nav-link:hover{
    color: var(--primary-text);
}
.header_wrapper .nav_button{
    color: black;
}

/* Banner  */
.banner_wrapper{
    width: 100%;
    height: auto;
    min-height: 670px;
    background-image: url("./assets/images/Home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 200px 0 100px 0;
    position: relative;
}
.banner_wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); Adjust opacity as needed */
    z-index: 1;
}
.banner_wrapper h6{
    color: var(--primary-color);
}

/* About Us  */

.about_wrapper ul.nav-pills{
    border: 1px solid var(--gray-color);
    border-radius: 50px;

}
.about_wrapper ul li .nav-link{
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.45s cubic-bezier(0,0,0.2, 1);
    display: inline-block;
    color: var(--text-gray);
    border: 0;
}
.about_wrapper ul li .nav-link.active{
    background-color: var(--primary-color);
}
.about_wrapper .single-progress{
    margin-top: 26px;
    position: relative;
    overflow: hidden;
}
/* Progress Bar  */
.about_wrapper .single-progress .progress{
    height: 2px;
    border-radius: 4px;
    box-shadow: none;
    background-color: var(--bg-white);
    overflow: visible;
}

.about_wrapper .single-progress .progress h6{
    text-align: left;
}

.about_wrapper .tab-pane li{
    color: var(--gray-color);
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
}
.about_wrapper .tab-pane li a{
    font-weight: 500;
    display: block;
    color: var(--text-white);
}


/* Skills  */
.skill_Section h4{
    margin-top: 0.625rem;
    font-size: 1.725rem;
}
.skill_Section h5{
    margin:  0.625rem 0;
}
.skill_Section .card{
    transition: all 0.4s ease-in-out;
}
.skill_Section .card:hover{
    background-color: var(--bg-purple);
    color: var(--text-white);
    cursor: pointer;
}

/* Projects  */
.project_wrapper .card{
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid var(--bg-white);
    cursor: pointer;
    box-shadow: 0 0 16px 4px var(--bg-dark-blue);
}
.project_wrapper .card span{
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}
.project_wrapper .card:hover span{
    background-position: bottom center;
}
.project_wrapper .more_projects{
    text-align: end;
}
/* Resume  */
.skills_data li{
    color: var(--text-gray);
}


/* COntact  */
.contact_wrapper .form-control,
.contact_wrapper textarea{
    background-color: transparent;
    border-color: var(--gray-color);
    color: var(--text-gray);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}
.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover {
    border-color: var(--primary-color);
    color: var(--text-white);
}
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

/* Call Details  */
.contact_wrapper .call_details{
    color: var(--text-white);
}
.contact_wrapper .call_details a{
    font-weight: 700;
    color: var(--text-gray);
}
.contact_wrapper img{
    border-radius: 12px;
}

/* Spinner Loader  */
.spinner-border-sm {
    width: none;
    height: none;
    border-width: none;
}


/* Footer  */
.footer p span{
    color: var(--bg-white);
}